.wrapper {
  scroll-snap-type: y mandatory;
  height: 100vh;
  overflow: auto;
  background-color: var(--background-color);
}

.list {
  font-size: 3rem;
  list-style: "🔥";
}

.list li {
  margin-bottom: 2rem;
}
