:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --background-color: #1e1e1e;
  --text-color: hsl(0deg 0% 100% / 0.9);
  --code-dark-blue: #5e91c4;
  --code-yellow: #edca39;
  --code-light-blue: #9fcfee;
  --code-orange: #bb8c75;
  --font: Inter, Avenir, Helvetica, Arial, sans-serif;
  --code-font: Monaco;

  --pink: hsl(335deg 83% 55%);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font);
}
